---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// Data loaders
import { fetchPage } from "../lib/api";
import type { Page } from "../types";

// Fetch the "index" page record from Django
const page: Page = await fetchPage("todiane");
---

<BaseLayout>
	<Header slot="header" />
	<title slot="title">{page.title} –</title>

	{/* Hero Section (Intro) */}
	{
		page.hero_title && (
			<section id="top" class="bg-slate-50 py-12">
				<div class="container mx-auto px-4">
					<div class="flex flex-col md:flex-row items-center">
						{page.hero_image && (
							<div class="md:w-1/2 mb-8 md:mb-0">
								<img
									src={page.hero_image}
									alt={page.hero_title}
									class="rounded-lg"
								/>
							</div>
						)}
						<div class="md:w-1/2 md:pl-8">
							<h1 class="text-4xl font-semibold mb-4">{page.hero_title}</h1>
							{page.hero_subtitle && (
								<p class="text-xl text-gray-700 mb-6">{page.hero_subtitle}</p>
							)}
							<div
								class="max-w-none text-gray-700"
								set:html={page.hero_content}
							/>
							{page.hero_button_text && page.hero_button_url && (
								<a
									href={page.hero_button_url}
									class="inline-block text-accent border-2 border-accent uppercase px-6 py-3 rounded hover:bg-accent hover:text-teal-700 transition-colors mt-6"
								>
									{page.hero_button_text}
								</a>
							)}
						</div>
					</div>
				</div>
			</section>
		)
	}

	{/* Main Content (Current Role) */}
	<section id="current" class="bg-white py-12">
		<div class="container bg-white mx-auto px-4 py-12">
			{
				!page.hero_title && (
					<h1 class="text-4xl text-gray-700 mb-8">{page.title}</h1>
				)
			}
			{
				page.subtitle && (
					<p class="text-4xl font-semibold text-gray-700 text-center mb-8">
						{page.subtitle}
					</p>
				)
			}
			<div class="max-w-none" set:html={page.content} />
		</div>
	</section>

	{/* Feature Section (Previous Work Experience) */}
	{
		page.has_feature_section && (
			<section id="previous" class=" py-20 bg-slate-50">
				<div class="container  mx-auto px-4">
					<h3 class="text-2xl md:text-3xl font-semibold mb-12 text-center">
						{page.feature_section_title}
					</h3>

					{/* <div class="grid grid-cols-1 md:grid-cols-2 gap-8"> # two features in a row */}
					<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
						{page.features &&
							page.features.map((feature) => (
								<div class="bg-white p-8 rounded-lg text-center border-1 border-teal-700">
									<div class="w-16 h-16 bg-slate-100 rounded-full flex items-center justify-center mx-auto mb-6">
										{feature.icon ? (
											<i
												class={`text-2xl text-slate-500 ${feature.icon}`}
												aria-hidden="true"
											/>
										) : (
											<svg
												xmlns="http://www.w3.org/2000/svg"
												class="h-8 w-8 text-slate-500"
												fill="none"
												viewBox="0 0 24 24"
												stroke="currentColor"
											>
												<path
													stroke-linecap="round"
													stroke-linejoin="round"
													stroke-width="2"
													d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
												/>
											</svg>
										)}
									</div>
									{feature.title && (
										<h3 class="text-2xl font mb-8">{feature.title}</h3>
									)}
									<div class="text-gray-700" set:html={feature.content} />
								</div>
							))}
					</div>
				</div>
			</section>
		)
	}
	{/* Middle Section  (About Me) */}
	{
		page.middle_section_content && (
			<section id="about" class="bg-white py-12">
				<div class="container mx-auto px-4">
					{page.middle_section_title && (
						<h2 class="text-3xl font-semibold mb-4 text-center">
							{page.middle_section_title}
						</h2>
					)}
					<div
						class="max-w-none text-gray-700"
						set:html={page.middle_section_content}
					/>
				</div>
			</section>
		)
	}
	{/* End Section  (links) */}
	{
		page.end_section_content && (
			<section id="links" class="bg-white py-12">
				<div class="container mx-auto px-4">
					{page.end_section_title && (
						<h2 class="text-3xl font-semibold mb-4 text-center">
							{page.end_section_title}
						</h2>
					)}
					<div
						class="max-w-none text-center text-gray-700"
						set:html={page.end_section_content}
					/>
				</div>
			</section>
		)
	}
	<Footer slot="footer" />
</BaseLayout>
